@import "../../styles/colors.scss";

.container-welcome {
    width: 100vw;
    height: 100vh;
    background-color: $colorBrandPrimary;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
        position: absolute;
        // left: 37.87%;
        // right: 33.6%;
        top: 16.63%;
        bottom: 68.35%;
    }

    .heading {
        position: absolute;
        width: 323px;
        height: 70px;
        // left: 37.87%;
        top: 286px;
        // align-self: center;
    }

    .subtitle {
        position: absolute;
        width: 323px;
        height: 54px;
        // left: 26px;
        top: 371px;
    }

    .btn_regiester {
        position: absolute;
        width: 331px;
        height: 56px;

        top: 503px;
    }

    .btn_login {
        position: absolute;
        width: 331px;
        height: 56px;

        top: 575px;
    }
}
